.component {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    padding: 5px;
    float: left;
}

.model {
    float: none;
}

.component .panel {
    display: inline-block;
    vertical-align: top;
}

.wheel {
    float: left;
    width: 100px;
    height: 175px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px 5px;
    background-color: white;
    position: relative;
    text-align: center;
    margin-right: 5px;
}

.wheels {
    padding-right: 0;
    padding-top: 10px;
}

.wheel.ui-sortable-handle {
    cursor: move;
}

.rotors {
    float: left;
    border: 1px solid black;
    padding: 5px 0 5px 5px;
    background-color: #eee;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: -5px;
}

.wheel input {
    width: 25px;
    text-transform: uppercase;
    text-align: center;
}

.wheel .config {
    position: absolute;
    bottom: 85px;
    text-align: center;
    left: 0;
    right: 0;
    
}

.wheel .status {
    text-align: center;
    width: 50px;
    height: 75px;
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid black;
}
.wheel .status div {
    text-align: center;
    width: 1.2em;
    margin: 0 auto;
}
.wheel .status div.current {
    border: 1px solid black;
}

.plugboard {
    float: left;
}

.plugboard input {
    width: 25px;
}

.io {
    clear: both;
}

.io .input {
    text-transform: uppercase;
}

.output {
    display: inline-block;
    word-break: break-word;
}

.input, .output {
    height: 100px;
    width: 250px;
    border: 1px solid #aaa;
}