.wheel {
    float: left;
    width: 150px;
    border-left: 2px solid black;
    padding: 3px 5px;
}

.rotors {
    float: left;
}

.wheel input {
    width: 25px;
}

.component {
    border: 1px solid black;
    float: left;
}

.plugboard {
    clear: both;
}

.plugboard input {
    width: 25px;
}

.io .input {
    text-transform: uppercase;
}

.output {
    display: inline-block;
}

.input, .output {
    height: 100px;
    width: 250px;
    border: 1px solid #aaa;
}